@use 'sass:color';
@import './variables/color.scss';
@import './mixins/breakpoint.scss';

$seachbar-heigth: 40px;

.nav-container {
  padding: 0 10%;
  background-color: $brand-color;
  height: 55px;
  justify-content: space-between;
  align-items: center;

  > img {
    height: 70%;
    width: auto;
  }
}

.searchbar {
  width: 100%;
  margin-left: 15px;
  height: $seachbar-heigth;

  > input {
    color: color.adjust(#000000, $whiteness: 40%);
    font-size: 18px;
    padding: 1px 12px;
    border: 0;
    border-radius: 3px 0 0 3px;
    width: 100%;

    &::placeholder {
      color: #999999;
      text-decoration: none;
    }

    &:focus {
      outline: none;
    }
  }

  > button {
    background-color: #eeeeee;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: $seachbar-heigth;
    border-radius: 0 3px 3px 0;
    border: 0;

    > img {
      height: 55%;
      width: auto;
    }
  }
}

@include breakpoint(sm){
  .nav-container {
    padding: 0;
    > img {
      padding-left: 8px;
    }
  }

  .searchbar{
    padding-right: 8px;
  }
}
