@use "sass:map";
@import './variables/color.scss';
@import './mixins/breakpoint.scss';

$preview-img-size: (
  big: 180px,
  small: 130px
);

.product-preview {
  width: 100%;
  padding: 16px 0;
  justify-content: space-between;
  background-color: white;
}

.location {
  font-size: 12px;
  margin: 20px 30px;
  color: #999999;
  text-align: right;
}

.product-info {
  align-items: flex-start;
  max-width: 80%;
}

.thumbtail {
  flex: 0 0 map.get($preview-img-size, big);
  height: auto;
  margin: 0 16px;

  > img {
    height: 100%;
    width: 100%;
    max-height: map.get($preview-img-size, big);
    object-fit: contain;
    border-radius: 4px;
  }
}

.price-and-title {
  .title {
    font-weight: normal;
    font-size: 18px;
    margin: 0;
  }
}

.price-container {
  align-items: center;
  margin-bottom: 32px;

  .price {
    margin-right: 5px;
    font-size: 24px;
    text-decoration: none;
    color: black;
  }

  .icon-ship {
    height: 65%;
    width: auto;
  }
}

@include breakpoint(sm) {
  .location {
    margin: 10px 5px 0 0;
    white-space: normal;
  }

  .price-and-title {
    .title {
      font-size: 14px;
    }
  }

  .price-container {
    margin-bottom: 20px;

    .price {
      font-size: 20px;
    }
  }

  .thumbtail {
    flex: 0 0 map.get($preview-img-size, small);
    > img {
      max-height: map.get($preview-img-size, small);
    }
  }
}
