@import './variables/color.scss';
@import './mixins/breakpoint.scss';

.products-container {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;

  > .categories {
    color: #999999;
    font-size: 14px;
    margin: 16px 0;
  }

  @include breakpoint(md) {
    width: 100%;

    > .categories {
      margin: 16px 0 16px 10px;
    }
  }
}
