@import './variables.scss';
@import './mixins.scss'

.products-container{
  width: 80%;
  margin: 25px auto auto auto;
  display: flex;
  flex-direction: column;
  background-color: white;

  @include breakpoint(mobile){
    width: 100%;
  }
}