@use 'sass:map';
$grid-breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

@mixin breakpoint($point, $customPoint: 0) {
  @media screen and (max-width: map.get($grid-breakpoints, $point)) {
    @content;
  }
}
